@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
} */
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.img{
  width: 100%;
  height: 100%;
}
.container{
	max-width: 1170px;
	margin:auto;
    

}

.row-footer{
	display: flex;
	flex-wrap: wrap;
}

ul{
	list-style: none;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer{
  margin-top: auto;
	background-color: #24262b;
    padding: 27px 0;
    margin-top: 80px;
    
}
.footer-col{
   width: 20%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
.fom input{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
  border-style: none;
  background-color: #c5c5c512;
  border-radius: 10px;
}
.fom-but{
  margin-left: 55px;
  
}
.fom-message{
  height: 50px;

}
/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}








.header{
  display: flex;
  align-items: center ;
  background:#00000000;
  padding: 20px,80px;
  color: #000;
  display: flex;
    align-items: center;
    justify-content: center;

}

nav{
    display: flex;
    align-items: center ;
 
  
  }
  
  #navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background: #0000004a;
    flex-direction: row;
    margin-top: -22px;
    border-radius: 25px;
    margin-left: 66px;
  }
  
  #navbar li{
    list-style: none;
  padding: 0 20px;
  position: relative;
  }
  
  #navbar li a{
    text-decoration: none;
    font-style: nav;
    font-size: 1.0rem;
    font-weight: 350;
    color: #ffffff85;
    transition: 0.3s ease-in-out;
  }
  
  #navbar li a:hover{
    color: #fbbf7938;
  
  }

  .rotate-90{
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
     color: white;
  }

  .search-input {
    border: none;
    width: 200px;
    border-radius: 31px;
    background-color: #0000004a;
    padding: 4px 10px;
    font-size: 12px;
    margin-left: 101px;
    margin-right: 2px;
    position: absolute;
    top: -10px;

   
  }
  
  .search-input:focus {
    outline: none;
    background-color: #0000004a;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
  }
 

     .dropdown-menu {
      position: absolute;
      top: calc(100% + 10px);
      left: 50%;
      transform:translateX(-50%);
      display: none;
      width: 200px;
      height: 400px;
      overflow: auto;
      background-color: #61666d70;
      
    }
    
    .dropdown-menu a {
      display: block;
      padding: 10px;
      color: #000;
      text-decoration: none;
    }
    .dropdown-menu a:hover {
      background-color: #61666d70;
    }
    
    .dropdown:hover .dropdown-menu {
      display: block;
    }
    
    
    
    .dropdown-toggle {
      background: none;
      border: none;
      color: #333;
      cursor: pointer;
      font-size: 16px;
    }
    
    .dropdown-menu {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 999;
      padding: 10px 0;
      border: 1px solid #61666d70;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      left: 50%;
      transform:translateX(-50%);
      display: none;
      width: 200px;
      height: 400px;
      overflow: auto;
      background-color: #61666d70;
    }
    
    .dropdown-menu .dropdown-item {
      display: block;
      padding: 8px 20px;
      font-size: 14px;
      color: #333;
      text-decoration: none;
    }
    
    .dropdown-menu .dropdown-item:hover {
      background-color: #61666d70;
    }
    
    .drop-down-icon {
      margin-left: 5px;
      display: inline-block;
      vertical-align: middle;
      transition: transform 0.3s;
    }

    .dropdown.show .drop-down-icon {
      transform: rotate(-90deg);
    }
    
    .dropdown.show .dropdown-menu {
      display: inline-grid;
      min-width: 14rem;
    /* height: 21rem; */
    background-color: #24262b73;
    margin-left: 27px;
    margin-top: 7px;

    }

    
   

  
 
		.logo-counter{
      width: 60%;
      height: 20%;
      display: flex;
      color: #3c3838;
      margin-left: 21%;
      margin-top: 621px
    }

    .tex{
      margin-bottom: 100px;
      margin-top: 16px;    }
